ANTHROPIC_API_KEY=“123”
CREWAI_DISABLE_TELEMETRY=true
OTEL_SDK_DISABLED =true

AWS_ACCESS_KEY_ID=“123”
AWS_SECRET_ACCESS_KEY=“123”
AWS_SESSION_TOKEN=“123”



AWS_REGION="eu-west-1"
OPENAI_API_KEY='hello world'

